.page {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


.container{
    background-color: rgb(241, 237, 227);
}

.dropdown{
    text-align: center;
    margin: 0;
}

.navigation__menu{
    padding-top: 2vw;
    align-items: center;
}

.navigation__logo{
    padding: 2vw 0 3.5vw 0;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    color: rgb(228, 164, 26);
}

.dropdown-container__name{
text-align: center;
    padding: 0.5vw;
}

.navigation__logo-image{
    width: 20%;
}

.navigation{
    height: 100vh;
    font-size: 1.2vw;
}

.card-img{
    height: 20vw;
    object-fit: cover;
}

.card-text{
    padding:1% 50% 0 0;
    color: black;
}
.title-text{
    color: black;
    padding: 2% 50% 0 0;
    font-size: 1.3vw;
}
.container__title{
    padding-top: 1vw;
    margin: 0;
    font-weight: 700;
}

.container__date{
    padding-bottom: 1.5vw;
}

.statistics__weekly-chart{
    background-color: white;
    margin-top: 2vw;
    width: 75%;
}

.container__statistics{
    display: flex;
    flex-direction: row;
    color:rgb(221, 146, 34);
}

.tasks{
    display: flex;
    flex-direction: row;
}
.tasks__chart{
    width: 70%;
}
.tasks__todo-list{
    width: 29%;
}

.statistics__projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects-stat, .tasks-stat{
    display: flex;
    flex-direction: column;
}